<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Junge&display=swap" rel="stylesheet">
</head>

<div class="global-wrapper">

    <div class="top-elem">
       
        <div class="header">
            <a class="header-button" href="#section" >ACCEUIL</a>
            <a class="header-button" href="#hours-section" >HORAIRES</a>
            <a class="header-button" href="#degustation-section" >MENU</a>
            <a class="header-button" href="#image-section" >PHOTOS</a>
            <a class="header-button" href="#contact-section" >CONTACT</a>
        </div>
        <div class="carrousel" data-carousel>
            <div class="carrousel-btn" data-carousel-button="prev">O</div>
            <div class="slides" data-slides>
                <div class="slide" data-active><img src="./home-drinks-img.png" alt="" ></div>
                <div class="slide"><img src="./blured-meal-1-img.png" alt=""></div>
                <div class="slide"><img src="./blured-meal-2-img.png" alt=""></div>
                <div class="slide"><img src="./blured-meal-3-img.png" alt=""></div>   
            </div>
            <div class="text">
                <div class="title">Brasserie Parisienne</div>
                <div class="sub-title">15EME ARRONDISEMENT</div>
            </div>
            <div class="carrousel-btn" data-carousel-button="next">O</div>          
        </div>
    </div>
    <div id="booking-scetion" class="booking-elem">
        <div class="wrapper">           
            <div class="btn">personne</div>
            <div class="btn">dates</div>
            <div class="btn">heures</div>
            <div class="btn">reserver</div>
        </div>
    </div>
    <div id="hours-section" class="hours-elem">
        <div class="left wrapper">
            <div class="header">Open Hours</div>
            <div class="body">
                <div class="hours">Lundi – Vendredi:<br>4:00 pm – 1:00 am</div>
                <div class="hours">Samedi:<br>4:00 pm – 3:00 am</div>
                <div class="hours">Dimanche:<br>4:00  – 2:00 am</div>
            </div>
        </div>
        <div class="right wrapper">
            <div class="header">Happy Hour</div>
            <div class="body">
                <div class="hours">Lundi – Samedi:<br>4:00 pm – 7:00 pm</div>
            </div>
        </div>
    
    </div>

    <div id="degustation-section" class="degustation-elem">
        <div  class="header">
            <div class="title">Degustation</div>
        </div>
        <div class="consumables">
            <div class="bakcground-img"></div>
            <div class="wrapper">
                <div class="top">
                    <div class="consumable-group left">
                        <div class="title">Entrées</div>
                        <div class="list">
                            lorem ipsum dolor sit amet, 22€<br>
                            lorem ipsum dolor sit amet, 22€<br>
                            lorem ipsum dolor sit amet, 22€<br>
                        </div>
                    </div>
                    <div class="consumable-group right">
                        <div class="title">Apperitifs</div>
                        <div class="list">
                            lorem ipsum dolor sit amet, 22€<br>
                            lorem ipsum dolor sit amet, 22€<br>
                            lorem ipsum dolor sit amet, 22€<br>
                        </div>
                    </div>
                    <div class="consumable-group left">
                        <div class="title">Plats</div>
                        <div class="list">
                            lorem ipsum dolor sit amet, 22€<br>
                            lorem ipsum dolor sit amet, 22€<br>
                            lorem ipsum dolor sit amet, 22€<br>
                        </div>
                    </div>
                    <div class="consumable-group right">
                        <div class="title">Fromages</div>
                        <div class="list">
                            lorem ipsum dolor sit amet, 22€<br>
                            lorem ipsum dolor sit amet, 22€<br>
                            lorem ipsum dolor sit amet, 22€<br>
                        </div>
                    </div>
                </div>

                <div class="bot">
                    <div class="consumable-group left">
                        <div class="title">Cocktail</div>
                        <div class="list">
                            lorem ipsum dolor sit amet, 22€<br>
                            lorem ipsum dolor sit amet, 22€<br>
                            lorem ipsum dolor sit amet, 22€<br>
                        </div>
                    </div>
                    <div class="consumable-group right">
                        <div class="title">Vins</div>
                        <div class="list">
                            lorem ipsum dolor sit amet, 22€<br>
                            lorem ipsum dolor sit amet, 22€<br>
                            lorem ipsum dolor sit amet, 22€<br>
                        </div>
                    </div>
                    <div class="consumable-group left">
                        <div class="title">Desserts</div>
                        <div class="list">
                            lorem ipsum dolor sit amet, 22€<br>
                            lorem ipsum dolor sit amet, 22€<br>
                            lorem ipsum dolor sit amet, 22€<br>
                        </div>
                    </div>
                    <div class="consumable-group right">
                        <div class="title">Soft</div>
                        <div class="list">
                            lorem ipsum dolor sit amet, 22€<br>
                            lorem ipsum dolor sit amet, 22€<br>
                            lorem ipsum dolor sit amet, 22€<br>
                        </div>
                    </div>
                </div>
            </div>        
        </div>   
        <div class="footer">
            <div class="item-desc">*Lorem ipsum dolor sit amet,  <br> *Lorem ipsum dolor sit amet, </div>
            <div class="item-desc">*Lorem ipsum dolor sit amet, </div>
            <div class="item-desc">*Lorem ipsum dolor sit amet,  <br> *Lorem ipsum dolor sit amet, </div>
        </div>   
        <div id="image-section" class="carousel">
            <div class="wrapper">
                <div class="tri-carrousel">
                    <div  class="img-carrousel left" data-triCarousels>
                        <img class="slide" src="./blured-meal-1-img.png" data-active data-1 alt="350*150">
                        <img class="slide" src="./blured-meal-2-img.png" data-2 alt="">
                        <img class="slide" src="./blured-meal-3-img.png" data-3 alt="">                   
                    </div>
                    <div class="img-carrousel mid" data-triCarousels>
                        <img class="slide" src="./blured-meal-1-img.png" data-active data-1 alt="350*150">
                        <img class="slide" src="./blured-meal-2-img.png" data-2 alt="">
                        <img class="slide" src="./blured-meal-3-img.png" data-3 alt="">
                    </div>
                    <div class="img-carrousel right" data-triCarousels>
                        <img class="slide" src="./blured-meal-1-img.png" data-active data-1 alt="350*150">
                        <img class="slide" src="./blured-meal-2-img.png" data-2 alt="">
                        <img class="slide" src="./blured-meal-3-img.png" data-3 alt="">
                    </div>
                    <div class="images-selector">
                        <div class="btn" data-carrouselSelector >0</div>
                        <div class="btn" data-carrouselSelector >0</div>
                        <div class="btn" data-carrouselSelector >0</div>
                        <div class="btn" data-carrouselSelector >0</div>
                    </div> 
                </div>
                <div class="carrousel-btns">
                    <div class="prev" data-triCarousel-button data-carrousel-btns="prev" >0</div>
                    <div   class="next" data-triCarousel-button data-carrousel-btns="next" >0</div>
                </div>
                  
            </div>
            
        </div>
    
    </div>

<div id="contact-section" class="contact-box-wrapper"> 

    <div class="contact-header">    
        <div class="title">Nous Contactez</div>
    </div>  

    <div class="contact-box">
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1352.1936855919203!2d5.043971372320752!3d47.326305601842876!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f29defbd358a29%3A0xfddf31f0feedc73c!2sAu%20Bureau!5e0!3m2!1sfr!2sfr!4v1723482170348!5m2!1sfr!2sfr"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="mail-box">
            <input  />
            <input  />
            <textarea name="user-msg" id=""> user message</textarea>
            
        </div>
               
    </div>
</div>

<div class="global-footer">
        <div class="footer-text">lorem ipsum dolor sit amet <br>lorem ipsum dolor sit amet   
        </div>
    </div>
</div>